pkgbase = python-bullet
	pkgdesc = Extensive support for Python list prompts formatting and colors.
	pkgver = 2.2.0
	pkgrel = 1
	url = https://pypi.org/project/bullet
	arch = any
	license = MIT
	makedepends = python-setuptools
	depends = python
	source = https://files.pythonhosted.org/packages/source/b/bullet/bullet-2.2.0.tar.gz
	source = https://raw.githubusercontent.com/Mckinsey666/bullet/master/LICENSE
	md5sums = 5f19a9ec757dbe6aea43b12ad48fee42
	md5sums = f74535692c85d975a3afdf1fae33ad93

pkgname = python-bullet
